Repository TheWillMundy/peloton-hotel-finder: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --cache --fix"],
  "*.{md,css,html,json}": ["prettier --write"]
}

chore: added Tanstack provider
  src/app/layout.tsx
  src/app/providers.tsx
Due: eslint --cache --fix

chore: fixed husky script to align with v10 standards
  .husky/pre-commit
Due: none

chore: add API routes for hotel booking and retrieval, integrate Fuse.js for fuzzy matching, and set up Vitest for testing
  .eslintcache
  .gitignore
  app/api/booking/check/route.ts
  app/api/hotels/route.ts
  app/lib/hotelService.ts
  app/lib/pelotonAPI.test.ts
  app/lib/pelotonAPI.ts
  bun.lock
  eslint.config.mjs
  package.json
  tsconfig.json
  vitest.config.mts
Due: eslint --cache --fix, prettier --write

chore: update hotel booking API, enhance client-side components, and refine TypeScript configurations
  .eslintcache
  package-lock.json
  package.json
  src/app/api/booking/check/route.ts
  src/app/api/hotels/route.ts
  src/app/components/CitySearchInput.tsx
  src/app/components/HotelResultCard.tsx
  src/app/components/InfiniteScrollTrigger.tsx
  src/app/page.tsx
  src/app/providers.tsx
  src/lib/hotelService.ts
  src/lib/pelotonAPI.test.ts
  src/lib/pelotonAPI.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

feat: refactor components, enhance styling, and integrate Mapbox for hotel listings
  .eslintcache
  bun.lock
  components.json
  package-lock.json
  package.json
  src/app/api/hotels/route.ts
  src/app/components/HotelCard.tsx
  src/app/components/HotelDetailModal.tsx
  src/app/components/ListView.tsx
  src/app/components/MapboxMap.tsx
  src/app/components/ViewToggle.tsx
  src/app/components/ui/badge.tsx
  src/app/components/ui/button.tsx
  src/app/contexts/MapContext.tsx
  src/app/contexts/ViewModeContext.tsx
  src/app/globals.css
  src/app/page.tsx
  src/lib/utils.ts
Due: eslint --cache --fix, prettier --write

feat: implement BottomSheet component for mobile hotel listings, enhance hotel card interactions, and improve responsive design
  .eslintcache
  src/app/components/BottomSheet.tsx
  src/app/components/CitySearchInput.tsx
  src/app/components/HotelCard.tsx
  src/app/components/MapboxMap.tsx
  src/app/page.tsx
Due: eslint --cache --fix

feat: add filter functionality for hotel listings, integrate new toggle components, and enhance hotel detail displays
  .eslintcache
  bun.lock
  package.json
  src/app/components/FilterChips.tsx
  src/app/components/HotelCard.tsx
  src/app/components/HotelDetailModal.tsx
  src/app/components/HotelResultCard.tsx
  src/app/components/ui/toggle-group.tsx
  src/app/components/ui/toggle.tsx
  src/app/page.tsx
  src/lib/hotelService.ts
  src/lib/pelotonAPI.ts
Due: eslint --cache --fix, prettier --write

feat: integrate Mapbox search functionality, refactor hotel API to use criteria-based fetching, and enhance UI components with new Radix UI checkbox
  .eslintcache
  bun.lock
  package-lock.json
  package.json
  src/app/api/booking/check/route.ts
  src/app/api/hotels/route.ts
  src/app/components/CitySearchInput.tsx
  src/app/components/MapboxMap.tsx
  src/app/components/ui/checkbox.tsx
  src/app/page.tsx
  src/lib/hotelService.ts
  src/lib/pelotonAPI.test.ts
  src/lib/pelotonAPI.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

feat: enhance hotel search functionality with fuzzy matching, integrate new UI components, and improve error handling
  .eslintcache
  bun.lock
  package.json
  src/app/api/hotels/route.ts
  src/app/components/CitySearchInput.tsx
  src/app/components/MapboxMap.tsx
  src/app/components/ui/card.tsx
  src/app/components/ui/drawer.tsx
  src/app/components/ui/sonner.tsx
  src/app/page.tsx
  src/app/providers.tsx
  src/lib/hotelService.ts
Due: eslint --cache --fix, prettier --write

feat: refactor hotel search page to integrate new SearchContext, enhance Mapbox interactions, and improve hotel listing display
  .eslintcache
  src/app/api/hotels/route.ts
  src/app/components/HotelListPanel.tsx
  src/app/components/MapboxMap.tsx
  src/app/contexts/MapContext.tsx
  src/app/contexts/SearchContext.tsx
  src/app/page.tsx
  src/lib/hotelService.ts
  src/lib/utils.ts
Due: eslint --cache --fix

feat: enhance hotel search page with no-match handling, improve Mapbox interactions, and update BottomSheet component for better mobile experience
  .eslintcache
  src/app/components/BottomSheet.tsx
  src/app/components/MapboxMap.tsx
  src/app/contexts/SearchContext.tsx
  src/app/page.tsx
Due: eslint --cache --fix

feat: add searchedPoinLocation field to hotel API response and enhance hotel search page to handle POI searches with no matches
  .eslintcache
  src/app/api/hotels/route.ts
  src/app/page.tsx
  src/lib/hotelService.ts
Due: eslint --cache --fix

feat: consolidate map focus state management in hotel search page, enhance UI interactions, and refactor components for improved performance
  .eslintcache
  src/app/components/BottomSheet.tsx
  src/app/components/HotelListPanel.tsx
  src/app/components/HotelResultCard.tsx
  src/app/components/ListView.tsx
  src/app/components/MapboxMap.tsx
  src/app/contexts/SearchContext.tsx
  src/app/contexts/UIInteractionContext.tsx
  src/app/page.tsx
Due: eslint --cache --fix

feat: add HotelMarker and SearchResultMarker components, refactor MapboxMap for improved marker handling, and update sidebar width calculation for responsive design
  .eslintcache
  bun.lock
  package.json
  src/app/components/HotelMarker.tsx
  src/app/components/MapStyles.tsx
  src/app/components/MapboxMap.tsx
  src/app/components/SearchResultMarker.tsx
  src/app/page.tsx
Due: eslint --cache --fix, prettier --write

fix: remove unnecessary dependency from useEffect in HotelSearchPageContent to improve performance
  .eslintcache
  src/app/page.tsx
Due: eslint --cache --fix

refactor: streamline hotel search page by removing unused components, enhancing filter functionality, and improving UI interactions for better user experience
  .eslintcache
  src/app/components/BottomSheet.tsx
  src/app/components/FilterModal.tsx
  src/app/components/FilterPanel.tsx
  src/app/components/HotelListPanel.tsx
  src/app/components/HotelResultCard.tsx
  src/app/components/InfiniteScrollTrigger.tsx
  src/app/components/ListView.tsx
  src/app/components/MapboxMap.tsx
  src/app/components/ViewToggle.tsx
  src/app/contexts/ViewModeContext.tsx
  src/app/page.tsx
Due: eslint --cache --fix

chore: reorganize file structure for codebase understandability
  .eslintcache
  .gitignore
  src/app/components/filter/FilterChips.tsx
  src/app/components/filter/FilterModal.tsx
  src/app/components/filter/FilterPanel.tsx
  src/app/components/hotel/HotelCard.tsx
  src/app/components/hotel/HotelDetailModal.tsx
  src/app/components/hotel/HotelListPanel.tsx
  src/app/components/map/HotelMarker.tsx
  src/app/components/map/MapStyles.tsx
  src/app/components/map/MapboxMap.tsx
  src/app/components/map/SearchResultMarker.tsx
  src/app/components/search/CitySearchInput.tsx
  src/app/components/ui/BottomSheet.tsx
  src/app/contexts/SearchContext.tsx
  src/app/page.tsx
Due: eslint --cache --fix

refactor: remove deprecated booking check API, update CitySearchInput to use session management, and enhance package.json build script
  .eslintcache
  package.json
  src/app/api/booking/check/route.ts
  src/app/components/search/CitySearchInput.tsx
  src/lib/hooks/useMapboxSession.tsx
Due: eslint --cache --fix, prettier --write

feat: enhance hotel search page with loading states, improve user experience with skeleton loading indicators, and refactor state management for better clarity
  .eslintcache
  src/app/components/hotel/HotelCardSkeleton.tsx
  src/app/components/hotel/HotelListPanel.tsx
  src/app/components/map/MapboxMap.tsx
  src/app/components/ui/BottomSheet.tsx
  src/app/components/ui/skeleton.tsx
  src/app/contexts/SearchContext.tsx
  src/app/page.tsx
Due: eslint --cache --fix

chore: update application metadata to reflect new branding as Peloton Hotel Finder, enhancing user clarity on app purpose and functionality
  src/app/layout.tsx
Due: eslint --cache --fix

feat: refactor entire application to drive fewer bugs and improved performance.
  .eslintcache
  package-lock.json
  package.json
  src/app/components/hotel/HotelListPanel.tsx
  src/app/components/hotel/HotelListPanelWrapper.tsx
  src/app/components/layout/DesktopLayout.tsx
  src/app/components/layout/MobileLayout.tsx
  src/app/components/map/MapWrapper.tsx
  src/app/components/map/MapboxMap.tsx
  src/app/components/ui/BottomSheet.tsx
  src/app/contexts/AppContext.tsx
  src/app/hooks/useDebouncedCallback.ts
  src/app/hooks/useFilteredHotels.ts
  src/app/page.tsx
  src/lib/clientHotelService.ts
Due: eslint --cache --fix, prettier --write

refactor: streamline hotel search functionality by integrating custom hooks for data fetching, enhancing hover interactions in HotelCard, and improving state management for better user experience
  .eslintcache
  src/app/components/hotel/HotelCard.tsx
  src/app/components/hotel/HotelListPanel.tsx
  src/app/components/layout/DesktopLayout.tsx
  src/app/components/layout/MobileLayout.tsx
  src/app/components/map/MapWrapper.tsx
  src/app/components/map/MapboxMap.tsx
  src/app/components/search/CitySearchInput.tsx
  src/app/contexts/AppContext.tsx
  src/app/contexts/SearchContext.tsx
  src/app/contexts/UIInteractionContext.tsx
  src/app/hooks/useHotelsQuery.ts
  src/app/hooks/useMapboxSession.tsx
  src/app/hooks/useSearchOrchestrator.ts
  src/app/page.tsx
  src/lib/clientHotelService.ts
  src/lib/utils.ts
Due: eslint --cache --fix
